<% include ../partials/header%>


  <div class='userName'>
    <h1><%=user.firstname%> <%=user.lastname%></h1>
  </div>


<div class='text-center'>
    <img class='userImage' src="<%=user.avatar%>" alt="profile image" >
</div>
Show campm

<% include ../partials/footer%>