<%include partials/header.ejs%>
<h1 class="text-center">Create a New Campground</h1>

<%# content %>
<div id="form" style="width:30%; margin: 25px auto">
  <form action='/campgrounds' method='POST'>
    <div class="form-group">
      <input name='name' class="form-control" placeholder='name of camp'>
    </div>
    <div class="form-group">
      <input name='image' class="form-control" placeholder='url image of the camp'>
    </div>
    <button class="btn btn-primary btn-block btn-lg">Submit</button>
  </form>
</div>
<p class="text-center"><a href="/campgrounds">Go Back</a></p>

<%include partials/footer.ejs%>