<% include partials/header%>

<h1> <%= camp[0].name %> </h1>

<img class="thumbnail" src='<%= camp[0].image%>'>
<p><%= camp[0].description %></p>
<a href='/campgrounds'>Go Back</a>

<% include partials/footer%>