<!-- already has the opening body in header.ejs-->    
<% include partials/header%>

<div id="bodyLanding">
  <div id="landing-header">
  <h1>Welcome to TheCampDB!</h1>
  <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!-- already has the closing /body in footer.ejs--> 
<% include partials/footer %>