<% include ../partials/header.ejs%>

<%# main content %>
<div class="container">
  <div class="jumbotron">
    <h1><span id="p1Display">0</span></h1>
    <button id="p1Button">Player One</button>
    <h1>Welcome To YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p><a class="btn btn-primary btn-lg" href="/campgrounds/new"">Add New Campgrounds</a></p>
  </div>
</div>

<div class='container'>
  <div class="row text-center">
    <% campgrounds.forEach(function(camp) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src='<%= camp.image %>'>
          <div class="caption">
            <h4><%= camp.name %></h4>
            <a href='/campgrounds/<%=camp._id%>' type="button" class="btn btn-primary">More Info</a>
          </div>  
        </div> 
      </div> 
    <%})%>
  </div>
</div>



<script>
p1Display = document.querySelector('#p1Display');
p1Button = document.querySelector('#p1Button');
p1Score = 0;
p1Button.addEventListener('click', function () {
    p1Score++;
    p1Display.textContent = p1Score;
});

</script>

<% include ../partials/footer.ejs%>