<%include ../partials/header.ejs%>

<%# content %>
<h1 class="text-center">Create a New Campground</h1>
<div id="form" style="width:30%; margin: 25px auto">
  <form action='/campgrounds' method='POST'>
    <div class="form-group">
      <input name='newCamp[name]' class="form-control" placeholder='name of camp'>
    </div>
    <div class="form-group">
      <input name='newCamp[image]' class="form-control" placeholder='url image of the camp'>
    </div>
    <div class="form-group">
      <textarea name='newCamp[description]' rows="10" class="form-control" placeholder='description of the camp'></textarea> 
    </div>
    <button class="btn btn-primary btn-block btn-lg">Submit</button>
  </form>
</div>
<p class="text-center"><a href="/campgrounds">Go Back</a></p>

<%include ../partials/footer.ejs%>