/* ========================================== */
/* for every file, padding bottom for footer */
body {
  padding-bottom: 40px; /* for footer */
}

/* ========================================== */
/* show page, button for Delete campground/comment */
.delete-button {
  display: inline;
}

#comment-text {
  margin: 0px;
}

.comment-one {
  margin: 0 0 15px 0;
}

/* ========================================== */
/* footer.ejs */
#footer {
  /* position */
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */  

  /* text */
  text-align: center;
  background: gainsboro;  
  font-family: "Lobster";
  padding: 10px 0 0 0;
}

/* ========================================== */
/* Google Maps */
#map {
  height: 400px;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
}